/* * {
    border: solid 1px red;
} */

.links {
    display: flex;
    width: fit-content;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
}

.background1 {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.upperBackground3 {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 120vh;
    background-color: #f0f2f5;
}

.lowerBackGround {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftInnerBox {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 2%;
    margin-left: 5%;
}

.leftInnerBox h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.rightInnerBox {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 40%;
}

.loginBox {
    height: auto;
    width: 400px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    padding: 2%;
    display: inline;
    margin: auto;
}

.fbLogo {
    height: 60px;
    width: 60%;
    margin-top: 45%;
}

.emailBox .emailField {
    width: 90%;
    border-radius: 8px;
    margin: 3%;
    font-size: 15px;
    border: none;
    background-color: #e9f0fd;
    border: 1px solid lightgray;
    height: 40px;
    padding-left: 10px;
}

.loginButtonContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.loginButtonContainer .loginButton {
    background-color: #912213;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 22px;
    margin: 3%;
    border-radius: 8px;
    margin-bottom: 2px;
    height: 50px;
    border: none;
}

.passwordBox .passwordField {
    width: 90%;
    border-radius: 5%;
    margin: 3%;
    border-radius: 8px;
    font: 20px;
    background-color: #e9f0fd;
    border: 1px solid lightgray;
    height: 40px;
    padding-left: 10px;
}

.createAccountContainer {
    display: flex;
    justify-content: center;
    height: 13%;
    padding: 20px;
    border-top: 1px solid lightgrey;
}

.createAccountContainer .createAccountButton {
    background-color: #42b72a;
    color: white;
    font-size: 17px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    height: 50px;
    width: 65%;
}

.errors {
    font-size: 12px;
    color: red;
}


.demoLoginContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.demoLoginButton {
    background-color: #912213;
    color: white;
    border: solid 1px lightgray;
    border-radius: 8px;
    width: 95%;
    height: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.linkedInIcon {
    height: 25px;
    margin-left: 30%;
}

.gitHubIcon {
    height: 25px;
    margin-left: 50%;
}

.technologies {
    justify-content: center;
    width: fit-content;
}

.technologies p {
    margin: 0;
}

/* .links p {
    margin: 0;
} */

