/* * {
    border: 1px solid red;
} */

* {
    font-family: Arial, Helvetica, sans-serif;
}

.friendsImage {
    height: 90%;
}

.background {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.upperbackGround {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lowerbackGround {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #f0f2f5
}

.coverPhotoContainer {
    width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
}

.coverPhoto {
    width: 70%;
    height: 100%;
    border-radius: 0 0 8px 8px;
}

.actualCoverPhoto {
    width: 100%;
    height: 100%;
    border-radius: 0 0 8px 8px;
}

.belowCoverPhoto {
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.editProfileButton {
    width: 150px;
}

.editProfileButtonContainer {
    width: 200px;

}

.profileName {
    width: 300px
}

.profileName p {
    width: 300px;
    height: 50px;
}

.profilePictureContainer {
    height: 150px;
    width: 150px;
    border: 5px solid white;
}

.profilePicture {
    height: 100%;
    width: 100%;
    margin-top: -75px;
    border-radius: 100%;
    border: 5px solid white;
}

.belowCoverPhotoLeft {
    display: flex;
    margin-left: 200px;
}

.leftColumn {
    margin-left: 200px;
    width: 30%;
}

.rightColumn {
    margin-right: 200px;
    margin-left: 5%;
    width: 40%;
}

.belowCoverPhotoRight {
    display: flex;
    align-items: center;
}

.profileName {
    display: flex;
    justify-content: center;
}

.commentIcon {
    height: 40px;
    border-radius: 100%;
}

.postContainer {
    display: flex;
    margin-top: 2%;
    background-color: white;
    border-radius: 8px;
    height: 100px;
    align-items: center;
    width: 100%;
}

.postText {
    width: 70%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid lightgray;
    background-color: #f0f2f5;
    margin-left: 5px;
}

.postButton {
    width: 25%;
    height: 40px;
    border-radius: 20px;
    background-color: #912213;;
    color: white;
    border: 1px solid lightgray;
    margin-left: 5px;
}

.postForm {
    display: flex;
    width: 100%;
}

.friendsContainer {
    background-color: white;
    border-radius: 8px;
    width: 100%;
    padding: 2%;
    margin-top: 3%;
}

.friendsThumbnails {
    width: 100%;
}

.divider {
    height: 20px;
    display: flex;
    justify-content: center;
}

.innerLine {
    width: 70%;
    border-top: 1px solid lightgray;
}

.belowCoverPhoto h1 {
    height: 40px;
}

.friendButton {
    margin-top: 20px;
    background-color: lightgray;
    color: black;
    font-weight: bold;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}

.postsHeader {
    margin-top: 5%;
    width: 100%;
    height: 60px;
    background-color: white;
    border-radius: 8px;
    border: 4%;
    display: flex;
    align-items: center;
}

.postsHeader h3 {
    margin-left: 3%;
}