/* * {
    border: 1px solid red;
} */

.navLogo {
    width: 40px;
    margin-left: 10px;
    margin-top: 15px;
}

/* .navContainer {
    display: flex;
    justify-content: space-between;
    z-index: 100;
} */

.navContainer {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    height: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-dropdown {
    list-style-type: none;
    position: fixed;
    margin-left: -10%;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.icon {
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
    margin-top: 15px;
}

.miniProfile {
    height: 100px;
    width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    border-radius: 5%;
}

.dropDown {
    list-style-type: none;
    margin: 0;
    margin-top: 1%;
    border-radius: 5%;
}

.profileLogoutIcon {
    border: none;
    background: none;
}

.profileButtonImage {
    height: 40%;
}


